.not-found {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 50px;
    justify-content: center;
    height: 100vh;
    color: white;
    z-index: 999;
  
    img {
      max-width: 500px;
      width: 80%;
    }
  
    p {
      font-size: 32px;
    }
  
    button {
      color: #1fb73a;
      background: none;
      border: none;
      cursor: pointer;
      font-size: 18px;
    }
  }
  